
body {
  background: linear-gradient(rgb(207, 146, 15)  0%, rgb(173, 7, 40) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-box{
  border: solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type=text], input[type=password] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 25%;
}
.overlook {
    cursor: pointer;
    // background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.overlook:hover {
    background-color: #0056b3;
}

.user-booking-page {
  display: flex;
  flex-direction: column; 
  align-items: center; 
 
  .content-container {
     display: flex; 
     justify-content: space-between; 
     width: 100%; 
 
     .all-bookings, .total-money-spent {
       width: 45%; 
       margin: 10px;
     } 
  }
 
  .booking-form {
    //  width: 100%; // Take full width
     display: flex;
     justify-content: center; 
     align-items: center; 
     flex-direction: column; 
     margin-top: 20px; 
  }
 }
button:hover {
  opacity: blue 0.20;

}
.hotel-image{
  height: 450px;
  width: 700px;
}

.hidden {
  display: none !important;
}
